.container--0- {
  position: relative;
  width: 1920px;
  height: 18229.05078125px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-0-1-0 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  min-height: 1200px;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-1-2-0 {
  position: absolute;
  left: -96.55000305175781px;
  top: 3.5px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #222222cc;
  backdrop-filter: blur(10px);
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 4px 8px 4px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-2-3-0 {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 138px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0px 10px 26px -4.5 #000000,
    0px 2.288530111312866px 5.95019006729126px -3 #000000,
    0px 0.6021869778633118px 1.565690040588379px -1.5 #000000;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-3-4-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 12px;
  height: 16px;
  justify-content: start;
  align-items: start;
}
.container-4-5-0 {
  position: relative;
  width: 97px;
  height: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-5-6-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-6-7-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 12px;
  height: 20px;
  justify-content: start;
  align-items: start;
}
.container-7-8-0 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  padding: 0px 8px 0px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.text-8-9-0 {
  width: 100%;
  height: 100%;
  color: #222222;
  font-size: 13px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: center;
  vertical-align: center;
}
.container-6-7-1 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-8-9-0 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-9-10-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
}
.container-8-9-1 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.text-10-11-0 {
  width: 100%;
  height: 100%;
  color: #ffffffcc;
  font-size: 24px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-6-7-2 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px 36px 60px 36px;
}
.container-6-7-3 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: start;
  gap: 44px;
  display: flex;
}
.container-6-7-4 {
  position: relative;
  width: 840px;
  height: 107px;
  background-color: #000000;
  max-width: 840px;
  box-shadow: 0px 2px 0px 0 #b8b4b4;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 24px 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.container-5-6-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 14px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}
.container-7-8-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px 20.059999465942383px 0px 20.049999237060547px;
}
.container-10-11-0 {
  position: relative;
  width: 739.9599609375px;
  height: 57.564998626708984px;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0.5649999976158142px 0px;
}
.container-11-12-0 {
  position: relative;
  width: 122px;
  height: 20.049999237060547px;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-7-8-2 {
  position: relative;
  width: 1610.8499755859375px;
  height: 204.2899932861328px;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-7-8-3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 1848px;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 76px 0px 448px 0px;
}
.container-9-10-1 {
  position: absolute;
  left: 0.018374688923358917px;
  top: 0px;
  width: 740.426513671875px;
  height: 56.4375px;
  justify-content: start;
  align-items: start;
}
.container-4-5-1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 1600px;
  justify-content: start;
  align-items: start;
  gap: 54px;
  display: flex;
  flex-direction: column;
  padding: 80px 0px 60px 0px;
}
.container-2-3-1 {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  justify-content: start;
  align-items: start;
}
.container-4-5-2 {
  position: absolute;
  left: -508px;
  top: 549.7999877929688px;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: blur(5px);
  justify-content: center;
  align-items: center;
  display: flex;
}
.container-9-10-2 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: end;
  align-items: center;
  gap: 24px;
  display: flex;
}
.container-9-10-3 {
  position: absolute;
  left: 922.6800537109375px;
  top: 25.399999618530273px;
  width: 556.1099853515625px;
  height: 2px;
  opacity: 1;
  background-color: #ffffff8a;
  justify-content: start;
  align-items: start;
}
.container-6-7-5 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-8-9-2 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
}
.container-11-12-2 {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 138px;
  height: 53px;
  background-color: #000000d9;
  justify-content: start;
  align-items: start;
  border-radius: 114px;
  border-top-left-radius: 114px;
  border-top-right-radius: 114px;
  border-bottom-left-radius: 114px;
  border-bottom-right-radius: 114px;
}
.container-11-12-3 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
}
.container-13-14-0 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: start;
  display: flex;
}
.container-14-15-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
}
.container-12-13-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.text-14-15-0 {
  width: auto;
  height: auto;
  color: #00000080;
  font-size: 15.300000190734863px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-6-7-6 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.text-12-13-0 {
  width: auto;
  height: auto;
  color: #ffffff;
  font-size: 16.700000762939453px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-10-11-1 {
  position: relative;
  width: 398.1400146484375px;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: flex;
  padding: 0px 0px 24px 0px;
}
.text-11-12-0 {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 47.20000076293945px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: left;
  vertical-align: center;
}
.container-7-8-4 {
  position: absolute;
  left: 791px;
  top: 27px;
  width: 2px;
  height: 19px;
  background-color: #fff0f01a;
  justify-content: start;
  align-items: start;
}
.container-7-8-5 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-7-8-6 {
  position: absolute;
  left: 1015px;
  top: 27px;
  width: 3px;
  height: 19px;
  background-color: #fff0f01a;
  justify-content: start;
  align-items: start;
}
.container-3-4-1 {
  position: absolute;
  left: 22px;
  top: 3px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-11-12-1 {
  position: relative;
  width: auto;
  height: auto;
  min-width: 180px;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.text-13-14-0 {
  width: 301.50048828125px;
  height: 34px;
  color: #ffffff;
  font-size: 24px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-9-10-4 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.text-9-10-0 {
  width: auto;
  height: auto;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-10-11-2 {
  position: relative;
  width: 398.1400146484375px;
  height: 163.22999572753906px;
  justify-content: center;
  align-items: center;
  gap: 23.989999771118164px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 52px 0px;
}
.container-10-11-3 {
  position: absolute;
  left: 155.99996948242188px;
  top: 11px;
  width: 2px;
  height: 19px;
  background-color: #ffffff26;
  justify-content: start;
  align-items: start;
}
.text-13-14-1 {
  width: 161.12344360351562px;
  height: 34px;
  color: #ffffff;
  font-size: 24px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-4-5-3 {
  position: relative;
  width: auto;
  height: auto;
  min-height: 1px;
  max-width: 1800px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.container-3-4-2 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.text-8-9-1 {
  width: 522px;
  height: 26px;
  color: #ffffffb2;
  font-size: 16.700000762939453px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-15-16-0 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-13-14-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.text-15-16-0 {
  width: 100%;
  height: 100%;
  color: #00000080;
  font-size: 15.5px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-11-12-4 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: center;
  gap: 8px;
  display: flex;
}
.container-11-12-5 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: center;
  gap: 8px;
  display: flex;
}
.container-11-12-6 {
  position: absolute;
  left: 1006.5px;
  top: 4.5px;
  width: 144.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-7 {
  position: absolute;
  left: 1175px;
  top: 4.5px;
  width: 160px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-8 {
  position: absolute;
  left: 1359px;
  top: 4.5px;
  width: 146.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-9 {
  position: absolute;
  left: 1529.5px;
  top: 4.5px;
  width: 166px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-10 {
  position: absolute;
  left: 1719.5px;
  top: 4.5px;
  width: 91.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-11 {
  position: absolute;
  left: 1835px;
  top: 4.5px;
  width: 154px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-12 {
  position: absolute;
  left: 2013px;
  top: 4.5px;
  width: 144.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-13 {
  position: absolute;
  left: 2181.5px;
  top: 4.5px;
  width: 160px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-14 {
  position: absolute;
  left: 2365.5px;
  top: 4.5px;
  width: 146.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-15 {
  position: absolute;
  left: 2536px;
  top: 4.5px;
  width: 166px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-16 {
  position: absolute;
  left: 2726px;
  top: 4.5px;
  width: 91.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-17 {
  position: absolute;
  left: 2841.5px;
  top: 4.5px;
  width: 154px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-18 {
  position: absolute;
  left: 3019.5px;
  top: 4.5px;
  width: 144.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-19 {
  position: absolute;
  left: 3188px;
  top: 4.5px;
  width: 160px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-20 {
  position: absolute;
  left: 3372px;
  top: 4.5px;
  width: 146.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-21 {
  position: absolute;
  left: 3542.5px;
  top: 4.5px;
  width: 166px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-22 {
  position: absolute;
  left: 3732.5px;
  top: 4.5px;
  width: 91.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-23 {
  position: absolute;
  left: 3848px;
  top: 4.5px;
  width: 154px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-24 {
  position: absolute;
  left: 4026px;
  top: 4.5px;
  width: 144.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-25 {
  position: absolute;
  left: 4194.5px;
  top: 4.5px;
  width: 160px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-26 {
  position: absolute;
  left: 4378.5px;
  top: 4.5px;
  width: 146.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-27 {
  position: absolute;
  left: 4549px;
  top: 4.5px;
  width: 166px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-28 {
  position: absolute;
  left: 4739px;
  top: 4.5px;
  width: 91.5px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-11-12-29 {
  position: absolute;
  left: 4854.5px;
  top: 4.5px;
  width: 154px;
  height: 50px;
  justify-content: start;
  align-items: start;
}
.container-3-4-3 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.container-12-13-2 {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 160px;
  height: 55px;
  background-color: #000000d9;
  justify-content: start;
  align-items: start;
  border-radius: 114px;
  border-top-left-radius: 114px;
  border-top-right-radius: 114px;
  border-bottom-left-radius: 114px;
  border-bottom-right-radius: 114px;
}
.container-12-13-3 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: flex;
}
.container-12-13-4 {
  position: absolute;
  left: 774px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-12-13-5 {
  position: absolute;
  left: 953px;
  top: 8.515000343322754px;
  width: 125px;
  height: 26.969999313354492px;
  justify-content: start;
  align-items: start;
}
.container-12-13-6 {
  position: absolute;
  left: 1178px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-12-13-7 {
  position: absolute;
  left: 1357px;
  top: 8.404999732971191px;
  width: 87px;
  height: 27.190000534057617px;
  justify-content: start;
  align-items: start;
}
.container-12-13-8 {
  position: absolute;
  left: 1544px;
  top: 6.954999923706055px;
  width: 83px;
  height: 30.09000015258789px;
  justify-content: start;
  align-items: start;
}
.container-12-13-9 {
  position: absolute;
  left: 1727px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-12-13-10 {
  position: absolute;
  left: 1906px;
  top: 8.515000343322754px;
  width: 125px;
  height: 26.969999313354492px;
  justify-content: start;
  align-items: start;
}
.container-12-13-11 {
  position: absolute;
  left: 2131px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-12-13-12 {
  position: absolute;
  left: 2310px;
  top: 8.404999732971191px;
  width: 87px;
  height: 27.190000534057617px;
  justify-content: start;
  align-items: start;
}
.container-12-13-13 {
  position: absolute;
  left: 2497px;
  top: 6.954999923706055px;
  width: 83px;
  height: 30.09000015258789px;
  justify-content: start;
  align-items: start;
}
.container-12-13-14 {
  position: absolute;
  left: 2680px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-12-13-15 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-16 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-17 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-18 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-19 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-20 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-21 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-22 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-23 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-12-13-24 {
  position: absolute;
  left: 4586px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.text-16-17-0 {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 16px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-14-15-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-16-17-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
}
.text-17-18-0 {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 11.800000190734863px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-15-16-1 {
  position: relative;
  width: 21.998092651367188px;
  height: 22.005163192749023px;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-17-18-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 82px;
  height: 82px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-6-7-7 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-8-9-3 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
}
.container-9-10-5 {
  position: absolute;
  left: 664px;
  top: 27px;
  width: 3px;
  height: 19px;
  background-color: #fff0f01a;
  justify-content: start;
  align-items: start;
}
.container-9-10-6 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-9-10-7 {
  position: absolute;
  left: 903px;
  top: 35.5px;
  width: auto;
  height: auto;
  background-color: #fff0f01a;
  justify-content: start;
  align-items: start;
}
.container-3-4-4 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 9.989999771118164px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.container-16-17-1 {
  position: absolute;
  left: 225px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-16-17-2 {
  position: absolute;
  left: 404px;
  top: 8.404999732971191px;
  width: 87px;
  height: 27.190000534057617px;
  justify-content: start;
  align-items: start;
}
.container-16-17-3 {
  position: absolute;
  left: 591px;
  top: 6.954999923706055px;
  width: 83px;
  height: 30.09000015258789px;
  justify-content: start;
  align-items: start;
}
.container-16-17-4 {
  position: absolute;
  left: 774px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-16-17-5 {
  position: absolute;
  left: 953px;
  top: 8.515000343322754px;
  width: 125px;
  height: 26.969999313354492px;
  justify-content: start;
  align-items: start;
}
.container-16-17-6 {
  position: absolute;
  left: 1178px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-16-17-7 {
  position: absolute;
  left: 1357px;
  top: 8.404999732971191px;
  width: 87px;
  height: 27.190000534057617px;
  justify-content: start;
  align-items: start;
}
.container-16-17-8 {
  position: absolute;
  left: 1544px;
  top: 6.954999923706055px;
  width: 83px;
  height: 30.09000015258789px;
  justify-content: start;
  align-items: start;
}
.container-16-17-9 {
  position: absolute;
  left: 1727px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-16-17-10 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-18-19-0 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-19-20-0 {
  position: absolute;
  left: 0.44916534423828125px;
  top: 0px;
  width: 86.10166931152344px;
  height: 27.190000534057617px;
  justify-content: start;
  align-items: start;
}
.container-16-17-11 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-16-17-12 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-16-17-13 {
  position: absolute;
  left: 2497px;
  top: 6.954999923706055px;
  width: 83px;
  height: 30.09000015258789px;
  justify-content: start;
  align-items: start;
}
.container-16-17-14 {
  position: absolute;
  left: 2680px;
  top: 8.539999961853027px;
  width: 79px;
  height: 26.920000076293945px;
  justify-content: start;
  align-items: start;
}
.container-7-8-7 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-7-8-8 {
  position: absolute;
  left: 1219px;
  top: 35.5px;
  width: auto;
  height: auto;
  background-color: #fff0f01a;
  justify-content: start;
  align-items: start;
}
.container-3-4-5 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.container-13-14-2 {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 951.02001953125px;
  height: 54px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container-13-14-3 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}
.container-13-14-4 {
  position: relative;
  width: 15px;
  height: 15px;
  opacity: 1;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-10-11-4 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-10-11-5 {
  position: absolute;
  left: 246.99996948242188px;
  top: 19.5px;
  width: auto;
  height: auto;
  background-color: #ffffff26;
  justify-content: start;
  align-items: start;
}
.container-3-4-6 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 10.010000228881836px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.container-3-4-7 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 9.989999771118164px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.container-3-4-8 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #000000;
  justify-content: start;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px 40px 100px 40px;
}
.container-1-2-1 {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #222222cc;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.container-8-9-5 {
  position: absolute;
  left: 760.5714111328125px;
  top: 67.52000427246094px;
  width: auto;
  height: auto;
  min-width: 200px;
  justify-content: start;
  align-items: start;
}
.container-8-9-6 {
  position: relative;
  width: auto;
  height: auto;
  min-width: 200px;
  max-width: 600px;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
}
.container-5-6-2 {
  position: absolute;
  left: 190px;
  top: 0px;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}
.container-0-1-1 {
  position: absolute;
  left: -6px;
  top: 0px;
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 20px 4 #c4c4c4;
  justify-content: start;
  align-items: start;
  border-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.container-0-1-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1200px;
  justify-content: start;
  align-items: start;
}
.container-5-6-3 {
  position: relative;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: start;
  gap: 10px;
  display: flex;
}
.container-0-1-3 {
  position: absolute;
  left: 0px;
  top: 17800.439453125px;
  width: 1920px;
  height: 78px;
  justify-content: end;
  align-items: start;
  display: flex;
  padding: 20px 20px 20px 20px;
}
.container-2-3-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 38px;
  justify-content: start;
  align-items: start;
}
.container-0-1-4 {
  position: absolute;
  left: 1880px;
  top: 585px;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
}
.text-2-3-1 {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 12px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
